<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap Core CSS -->
<link th:href="@{/styles/bootstrap.min.css}" rel="stylesheet">
<!-- Custom Fonts -->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<link th:href="@{/styles/dataTables.bootstrap4.min.css}"
	rel="stylesheet">
<!-- Custom CSS -->
<link th:href="@{/styles/sb-admin-2.css}" rel="stylesheet">
<link th:href="@{/styles/bootstrap-datepicker.min.css}" rel="stylesheet">
<link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/png">
<title th:text="#{goldenusera}"></title>
</head>