<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="page">
<head th:replace="~{admin/header}"></head>
<body id="page-top">
	<!-- csrt support -->
	<form th:action="@{/admin/j_spring_security_logout}" method="post"
		id="logoutForm">
		<input type="hidden" name="${_csrf.parameterName}"
			value="${_csrf.token}" />
	</form>
	<div id="wrapper">
		<ul
			class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion"
			id="accordionSidebar">
			<!-- Sidebar - Brand -->
			<a
				class="sidebar-brand d-flex align-items-center justify-content-center"
				th:href="@{admin}">
				<div class="sidebar-brand-icon rotate-n-15">
					<i class="fas fa-dragon"></i>
				</div>
				<div class="sidebar-brand-text mx-3">
					<span th:text="#{goldenusera}"></span>
				</div>
			</a>
			<!-- Divider -->
			<li class="border-top my-3"></li>
			<li class="nav-item"><a th:href="@{daily}" class="nav-link"><i
					class="fa fa-calendar fa-fw"></i><span th:text="#{dailies}"></span></a>
			</li>
			<li class="nav-item"><a th:href="@{newentrymoney}"
				class="nav-link"><i class="fa fa-cash-register fa-fw"></i> <span
					th:text="#{entrymoney}"></span></a></li>
			<li class="nav-item"><a class="nav-link collapsed"
				aria-expanded="true" aria-controls="collpaseSafe" href="#"
				data-bs-target="#collapseSafe" data-bs-toggle="collapse"><i
					class="fa fa-inbox fa-fw"></i> <span th:text="#{safe}"></span> </a>
				<div id="collapseSafe" class="collapse"
					aria-labelledby="headingSafe" data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" th:href="@{newentrysafe}"><span
							th:text="#{newentrysafe}"></span></a> <a class="collapse-item"
							th:href="@{totalsafe}"><span th:text="#{totalsafe}"></span></a>
					</div>
				</div></li>
			<li class="nav-item"><a class="nav-link collapsed"
				aria-expanded="true" aria-controls="collpase" href="#"
				data-bs-target="#collapseChangeMachine" data-bs-toggle="collapse"><i
					class="fa fa-money-bill-alt fa-fw"></i><span
					th:text="#{changemachine}"></span></a>
				<div id="collapseChangeMachine" class="collapse"
					aria-labelledby="headingChangeMachine"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" th:href="@{newentrydirect}"><span
							th:text="#{newentrydirect}"></span></a><a class="collapse-item"
							th:href="@{changemachinetotal}"><span
							th:text="#{changemachinetotal}"></span></a>
					</div>
				</div></li>
			<li class="nav-item"><a th:href="@{pendingissues}"
				class="nav-link"><i class="fa fa-exclamation-triangle fa-fw"></i><span
					th:text="#{pendingissues}"></span></a></li>
			<li class="nav-item"><a class="nav-link collapsed"
				aria-expanded="true" aria-controls="collpasemessages" href="#"
				data-bs-target="#collapsemessages" data-bs-toggle="collapse"> <i
					class="fa fa-comments"></i> <span th:text="#{messages}"></span>
			</a>
				<div class="collapse" data-parent="#accordionSidebar"
					aria-labelledby="headingmessages" id="collapsemessages">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" th:href="@{newmessage}"><span
							th:text="#{newmessage}"></span></a><a class="collapse-item"
							th:href="@{messages}"><span th:text="#{messages}"></span></a>
					</div>
				</div></li>
			<!-- Divider -->
			<li class="border-top my-3"></li>
			<!-- Sidebar Toggler (Sidebar) -->
			<div class="text-center d-none d-md-inline">
				<button class="rounded-circle border-0" id="sidebarToggle"></button>
			</div>
		</ul>
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<!-- Topbar -->
				<nav
					class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
					<!-- Sidebar Toggle (Topbar) -->
					<button id="sidebarToggleTop"
						class="btn btn-link d-md-none rounded-circle mr-3">
						<i class="fa fa-bars"></i>
					</button>
					<ul class="navbar-nav ml-auto">
						<!-- Nav Item - User Information -->
						<li class="nav-item dropdown no-arrow"><a
							class="nav-link dropdown-toggle" href="#" id="userDropdown"
							role="button" data-bs-toggle="modal"
							data-bs-target="#logoutModal"> <span
								class="mr-2 d-none d-lg-inline text-gray-600 small">Cerrar</span>
						</a></li>
					</ul>
				</nav>
				<div class="container-fluid" th:insert="~{this :: content}"></div>
			</div>
		</div>
	</div>
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fa fa-angle-up"></i>
	</a>
	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">
						<span th:text="#{readyToLeave}"></span>
					</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<span th:text="#{selectlogout}"></span>
				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-bs-dismiss="modal">
						<span th:text="#{cancel}"></span>
					</button>
					<a class="btn btn-danger" href="javascript:formSubmit()"><span
						th:text="#{logout}"></span></a>
				</div>
			</div>
		</div>
	</div>
	<script>
		function formSubmit() {
			document.getElementById("logoutForm").submit();
		}
	</script>
	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
	<!-- Custom Theme JavaScript -->
	<script th:src="@{/js/jquery.easing.min.js}"></script>
	<script th:src="@{/js/jquery.dataTables.js}"></script>
	<script th:src="@{/js/dataTables.bootstrap.js}"></script>
	<script th:src="@{/js/sb-admin-2.js}"></script>
	<script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
	<script th:src="@{/js/bootstrap-datepicker.es.min.js}"></script>
	<script type="text/javascript">
		$(function() {
			$('#datetimefrom').datetimepicker({
				format : 'HH:mm:ss'
			});
		});
		$(function() {
			$('#datetimeuntil').datetimepicker({
				format : 'HH:mm:ss'
			});
		});
	</script>
</body>
</html>