<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:insert="boss/template :: page">
<div th:fragment="content">
	<!-- Breadcrumbs-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#"><span
				th:text="#{recharges}"></span></a></li>
	</ol>
	<div class="row">
		<div class="col-lg-6">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover"
						id="dataTables-example">
						<thead>
							<tr>
								<th th:text="#{date}"></th>
								<th th:text="#{machine}"></th>
								<th th:text="#{amount}"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="recharge:${recharges}">
								<td th:text="${recharge.creationdate}"></td>
								<td th:text="${recharge.machine.name}"></td>
								<td th:text="${recharge.amount}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
</html>