<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:insert="~{boss/template :: page}">
<div th:fragment="content">
	<!-- Breadcrumbs-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#"><span
				th:text="#{recharges}"></span></a></li>
	</ol>
	<form method="post" th:action="@{recharges}"
		th:object="${searchDateForm}" autocomplete="off">
		<div class="row">
			<div class="col-lg-6">
				<div class="card-body">
					<div class="row">
						<div class="col-lg-6">
							<div class="form-group">
								<div id="sandbox-container">
									<input class="form-control" type="text" th:field="*{datefrom}"
										th:placeholder="#{selectmonth}" />
								</div>
							</div>
							<div class="form-group">
								<button class="btn btn-danger" value="submit">
									<span th:text="#{search}"></span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
</html>