<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:insert="employee/template :: page">
<div th:fragment="content">
	<!-- Breadcrumbs-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item active" th:text="#{schedule}"></li>
	</ol>
	<div class="row">
		<div class="col-lg-12">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
						<caption>Cuadrante</caption>
						<thead>
							<tr>
								<th colspan="2" th:text="#{monday}"></th>
								<th colspan="2" th:text="#{tuesday}"></th>
								<th colspan="2" th:text="#{wednesday}"></th>
								<th colspan="2" th:text="#{thursday}"></th>
								<th colspan="2" th:text="#{friday}"></th>
								<th colspan="2" th:text="#{saturday}"></th>
								<th colspan="2" th:text="#{sunday}"></th>
							</tr>
							<tr>
								<th:block th:each="date: ${dates}">
									<td colspan="2" th:text="${#dates.format(date, 'dd-MM-yyyy')}"></td>
								</th:block>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="indextime: ${#numbers.sequence(0, 2)}">
								<tr>
									<th:block th:each="date,iterdate: ${dates}">
										<th:block th:with="index=${(iterdate.index*3)+indextime}">
											<td th:text="${schedule[index].time.name}"></td>
											<td th:text="${schedule[index].employee.alias}"></td>
										</th:block>
									</th:block>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
</html>