<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:include="admin/template :: page">
<div th:fragment="content">
	<!-- Breadcrumbs-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#"><span
				th:text="${daily.date}"></span></a></li>
		<li class="breadcrumb-item active"><span
			th:text="${daily.numoperations}"></span> <span
			th:text="#{operations}"></span></li>
	</ol>
	<div class="row">
		<div class="col-lg-12">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered table-hover"
						id="dataTables-example">
						<thead>
							<tr>
								<th th:text="#{concept}"></th>
								<th th:text="#{date}"></th>
								<th th:text="#{amount}"></th>
								<th th:text="#{payment}"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="operation:${daily.operations}">
								<td th:if="${operation.machine!=null}"><p
										th:text="${operation.machine.name}"></p>
									<p th:text="${operation.description}" class="text-xs"></p> <th:block
										th:if="${operation.award!=null&&operation.machine==null}">
										<p th:text="${operation.award.name}"></p>
										<p th:text="${operation.description}" class="text-xs"></p>
									</th:block></td>
								<td th:if="${operation.award!=null&&operation.machine==null}"><p
										th:text="${operation.award.name}"></p>
									<p th:text="${operation.description}" class="text-xs"></p></td>
								<td th:text="${operation.creationdate}"></td>
								<td><a
									th:href="@{'updateoperation'+${operation.idoperation}}"><span
										th:text="${operation.amount}"><i
											class="fa fa-euro-sign"></i></span></a></td>
								<td th:text="${operation.pay.name}"></td>
							</tr>
							<tr th:each="operation:${daily.gratifications}">
								<td><span th:text="#{gratification}"></span> <span
									th:text="${operation.idgratification}"></span> <span
									th:text="${operation.machine.name}"></span></td>
								<td th:text="${operation.paydate}"></td>
								<td><span th:text="${operation.amount}"></span><i
									class="fa fa-euro-sign"></i></td>
								<td th:text="#{comun}"></td>
							</tr>
							<tr th:each="entryMoney:${daily.entriesMoney}">
								<td th:text="#{entrymoney}"></td>
								<td th:text="${entryMoney.creationdate}"></td>
								<td><span th:text="${entryMoney.amount}"></span><i
									class="fa fa-euro-sign"></i></td>
								<td></td>
							</tr>
							<tr th:each="income:${daily.income}">
								<td th:text="${income.description}"></td>
								<td th:text="${income.creationdate}"></td>
								<td><span th:text="${income.amount}"></span><i
									class="fa fa-euro-sign"></i></td>
								<td></td>
							</tr>
							<tr th:each="income:${daily.returns}">
								<td><span th:text="#{returnmoneyemployee}"></span> <span
									th:text="${income.employee.alias}"></span></td>
								<td th:text="${income.returndate}"></td>
								<td><span th:text="${income.amount}"></span><i
									class="fa fa-euro-sign"></i></td>
								<td></td>
							</tr>
							<tr th:each="money:${daily.moneyadvance}">
								<td><span th:text="#{moneyadvance}"></span> <span
									th:text="${money.employee.alias}"></span></td>
								<td th:text="${money.creationdate}"></td>
								<td><span th:text="${money.amount}"></span><i
									class="fa fa-euro-sign"></i></td>
								<td th:text="#{comun}"></td>
							</tr>
							<tr th:each="income:${daily.incomeluckia}">
								<td th:text="#{incomeluckia}"></td>
								<td th:text="${income.creationdate}"></td>
								<td><span th:text="${income.amount}"></span><i
									class="fa fa-euro-sign"></i></td>
								<td></td>
							</tr>
							<tr th:each="income:${daily.incomemachines}">
								<td><span th:text="#{incomemachine}"></span><span
									th:text="${income.machine.name}"></span></td>
								<td th:text="${income.creationdate}"></td>
								<td><span th:text="${income.amount}"></span><i
									class="fa fa-euro-sign"></i></td>
								<td></td>
							</tr>
							<tr th:each="tpv:${daily.tpvs}">
								<td><span th:text="#{tpv}"></span> <span
									th:text="${tpv.idtpv}"></span></td>
								<td th:text="${tpv.creationdate}"></td>
								<td><span th:text="${tpv.amount}"></span><i
									class="fa fa-euro-sign"></i></td>
								<td th:text="${tpv.pay.name}"></td>
							</tr>
							<tr th:each="lcm:${daily.listchangemachine}">
								<td><span th:text="${lcm.idchangemachine}"></span> <span
									th:text="${lcm.machine.name}"></span></td>
								<td th:text="${lcm.creationdate}"></td>
								<td><span th:text="${lcm.amount}"></span><i
									class="fa fa-euro-sign"></i></td>
								<td th:text="#{changemachine}"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="form-group">
							<span th:text="#{totalamount}"></span> <span
								th:text="${daily.finalamount}"></span> <i
								class="fa fa-euro-sign"></i>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="form-group">
							<a th:href="@{'/admin/beforeday' + ${datedaily}}">
								<button class="btn btn-danger" type="button">
									<i class="fas fa-arrow-circle-left"></i> <span
										th:text="#{beforeday}"></span>
								</button>
							</a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="pull-right">
							<a th:href="@{'/admin/againday' + ${datedaily}}">
								<button class="btn btn-danger" type="button">
									<span th:text="#{againday}"></span> <i
										class="fas fa-arrow-circle-right"></i>
								</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</html>