<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:insert="~{admin/template :: page}">
<div th:fragment="content">
	<!-- Breadcrumbs-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#"><span
				th:text="#{schedule}"></span></a></li>
		<li class="breadcrumb-item active" th:text="#{newweekcalendar}"></li>
	</ol>
	<form th:action="@{saveschedule}" th:object="${scheduleForm}"
		method="post" role="form">
		<div class="card-body">
			<div class="table-responsive">
				<table class="table">
					<caption>Cuadrante</caption>
					<thead>
						<tr>
							<th th:text="#{week}"></th>
							<th colspan=2 th:text="#{monday}"></th>
							<th colspan=2 th:text="#{tuesday}"></th>
							<th colspan=2 th:text="#{wednesday}"></th>
							<th colspan=2 th:text="#{thursday}"></th>
							<th colspan=2 th:text="#{friday}"></th>
							<th colspan=2 th:text="#{saturday}"></th>
							<th colspan=2 th:text="#{sunday}"></th>
						</tr>
						<tr>
							<th th:text="${week}" />
							<th:block th:each="date: ${dates}">
								<td colspan=2 th:text="${#dates.format(date, 'dd-MM-yyyy')}"></td>
							</th:block>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th:block th:each="date: ${dates}">
								<td><select class="form-control"
									th:field="*{schedule[__${dateStat.index}__].time.idtime}">
										<option th:each="time: ${times}" th:value="${time.idtime}"
											th:text="${time.name}" />
								</select></td>
								<td><select class="form-control"
									th:field="*{schedule[__${dateStat.index}__].employee.id}">
										<option th:each="employee: ${employees}"
											th:value="${employee.id}" th:text="${employee.username}" />
								</select></td>
								<input type="hidden"
									th:attr="name='schedule['+${dateStat.index}+'].dateschedule'"
									th:value="${date}" />
							</th:block>
						</tr>
						<tr>
							<th:block th:each="date: ${dates}">
								<td><select class="form-control"
									th:field="*{schedule[__${dateStat.index+(7)}__].time.idtime}">
										<option th:each="time: ${times}" th:value="${time.idtime}"
											th:text="${time.name}" />
								</select></td>
								<td><select class="form-control"
									th:field="*{schedule[__${dateStat.index+(7)}__].employee.id}">
										<option th:each="employee: ${employees}"
											th:value="${employee.id}" th:text="${employee.username}" />
								</select></td>
								<input type="hidden"
									th:attr="name='schedule['+${dateStat.index+7}+'].dateschedule'"
									th:value="${date}" />
							</th:block>
						</tr>
						<tr>
							<th:block th:each="date: ${dates}">
								<td><select class="form-control"
									th:field="*{schedule[__${dateStat.index+(14)}__].time.idtime}">
										<option th:each="time: ${times}" th:value="${time.idtime}"
											th:text="${time.name}" />
								</select></td>
								<td><select class="form-control"
									th:field="*{schedule[__${dateStat.index+(14)}__].employee.id}">
										<option th:each="employee: ${employees}"
											th:value="${employee.id}" th:text="${employee.username}" />
								</select></td>
								<input type="hidden"
									th:attr="name='schedule['+${dateStat.index+14}+'].dateschedule'"
									th:value="${date}" />
							</th:block>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="form-group">
				<button class="btn btn-danger" value="submit">
					<span th:text="#{save}"></span>
				</button>
			</div>
		</div>
	</form>
</div>
</html>