<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:insert="~{boss/template :: page}">
<div th:fragment="content">
	<!-- Breadcrumbs-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#"><span th:text="#{manualpayments}"></span></a></li>
		<li class="breadcrumb-item active" th:text="#{summary}"></li>
	</ol>
	<div class="row">
		<div class="col-lg-8">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover" id="dataTables-example">
						<thead>
							<tr>
								<th th:text="#{machine}"></th>
								<th th:text="#{total}"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="s:${collection}">
								<td th:text="${s.machine.name}"></td>
								<td th:text="${s.amount}"><i class="fa fa-euro-sign"></i></span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

</html>