<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:insert="boss/template :: page">
<div th:fragment="content">
	<!-- Breadcrumbs-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#"><span
				th:text="#{users}"></span></a></li>
		<li class="breadcrumb-item active" th:text="#{enabledisableuser}"></li>
	</ol>
	<div class="row">
		<div class="col-lg-12">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6">
						<div class="form-group">
							<span th:text="#{user}"></span> <span th:text="${user.username}"></span>
							<span th:text="${user.enabled}"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</html>