<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:insert="employee/templateTime :: page">
<div th:fragment="content">
	<!-- Breadcrumbs-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item" th:text="#{extrahours}"></li>
		<li class="breadcrumb-item active" th:text="#{onlyforturnfour}"></li>
	</ol>
	<form method="post" th:action="@{extrahoursave}"
		th:object="${extrahours}" role="form">
		<div class="row">
			<div class="col-lg-8">
				<div class="card-body">
					<div class="row">
						<div class="col-lg-4">
							<div class="form-group">
								<div class="input-group date" id="departuretime"
									data-bs-target-input="nearest">
									<input type="text" th:field="*{departuretime}"
										class="form-control datetimepicker-input"
										data-bs-target="#departuretime" />
									<div class="input-group-append" data-bs-target="#departuretime"
										data-bs-toggle="datetimepicker">
										<div class="input-group-text">
											<i class="fa fa-clock"></i>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<span th:text="#{description}"></span>
								<textarea class="form-control" th:field="*{description}"></textarea>
								<div class="form-group has-error">
									<label class="control-label" for="inputSuccess"
										th:if="${#fields.hasErrors('description')}"
										th:errors="*{description}"></label>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="form-group">
								<button class="btn btn-danger" value="submit">
									<span th:text="#{save}"></span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
</html>