<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Custom CSS -->
<link th:href="@{/styles/sb-admin-2.css}"
	rel="stylesheet">
<link rel="shortcut icon" th:href="@{/img/favicon.png}"
	type="image/png">
<!-- Bootstrap core JavaScript-->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<!-- Core plugin JavaScript-->
<script th:src="@{/js/jquery.easing.min.js}"></script>
<title th:text="#{titleAdmin}"></title>
</head>
</html>